In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder. \
    appName("ENBD"). \
    getOrCreate()

### Read data

In [3]:
df = spark.read.csv("/dataset/nyc-jobs.csv", header=True)
df.printSchema()

root
 |-- Job ID: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Posting Type: string (nullable = true)
 |-- # Of Positions: string (nullable = true)
 |-- Business Title: string (nullable = true)
 |-- Civil Service Title: string (nullable = true)
 |-- Title Code No: string (nullable = true)
 |-- Level: string (nullable = true)
 |-- Job Category: string (nullable = true)
 |-- Full-Time/Part-Time indicator: string (nullable = true)
 |-- Salary Range From: string (nullable = true)
 |-- Salary Range To: string (nullable = true)
 |-- Salary Frequency: string (nullable = true)
 |-- Work Location: string (nullable = true)
 |-- Division/Work Unit: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Minimum Qual Requirements: string (nullable = true)
 |-- Preferred Skills: string (nullable = true)
 |-- Additional Information: string (nullable = true)
 |-- To Apply: string (nullable = true)
 |-- Hours/Shift: string (nullable = true)
 |-- Work Location 1: string (nullable = true)
 |-- Recruitment Contact: string (nullable = true)
 |-- Residency Requirement: string (nullable = true)
 |-- Posting Date: string (nullable = true)
 |-- Post Until: string (nullable = true)
 |-- Posting Updated: string (nullable = true)
 |-- Process Date: string (nullable = true)

# KPIs

## Top 10 Job Postings per Category

In [15]:
df = df.withColumnRenamed("Job Category","jobCategory")\
    .withColumnRenamed("Salary Range From","salaryRangeFrom")\
    .withColumnRenamed("Salary Range To","salaryRangeTo")\
    .withColumnRenamed("Business Title","businessTitle")\
    .withColumnRenamed("Posting Date","postingDate")\
    .withColumnRenamed("Job ID","jobId")\
    .withColumnRenamed("Salary Frequency","salaryFrequency")

In [16]:
from pyspark.sql.functions import *
df.groupBy("jobCategory").agg(count("*").alias("c")).orderBy(col("c").desc()).limit(10).show()

+--------------------+---+
|         jobCategory|  c|
+--------------------+---+
|Engineering, Arch...|504|
|Technology, Data ...|313|
|       Legal Affairs|226|
|Public Safety, In...|182|
|Building Operatio...|181|
|Finance, Accounti...|169|
|Administration & ...|134|
|Constituent Servi...|129|
|              Health|125|
|Policy, Research ...|124|
+--------------------+---+

## Whats the salary distribution per job category?

In [17]:

df.createOrReplaceTempView("dfsql")
spark.sql("select distinct salaryFrequency from dfsql").show()

# Assuming 8 working hours per day and 250 working days per year
hours_per_day = 8
days_per_year = 250

df = df.withColumn(
    "annual_salary_from",
    when(col("salaryFrequency") == "hourly", col("salaryRangeFrom") * hours_per_day * days_per_year)
    .when(col("salaryFrequency") == "daily", col("salaryRangeFrom") * days_per_year)
    .otherwise(col("salaryRangeFrom")),
).withColumn(
    "annual_salary_to",
    when(col("salaryFrequency") == "hourly", col("salaryRangeTo") * hours_per_day * days_per_year)
    .when(col("salaryFrequency") == "daily", col("salaryRangeTo") * days_per_year)
    .otherwise(col("salaryRangeTo")),
)


df = df.withColumn("AverageSalary",((col("annual_salary_from")+col("annual_salary_to"))/2))

df.groupBy("jobCategory").agg(mean("AverageSalary").alias("AverageSalaryMean"),\
                              min("AverageSalary").alias("AverageSalaryMin"),\
                              max("AverageSalary").alias("AverageSalaryMax"),\
                             ).orderBy(col("AverageSalaryMean").desc()).limit(10).show()

+---------------+
|salaryFrequency|
+---------------+
|         Annual|
|          Daily|
|         Hourly|
+---------------+

+--------------------+------------------+----------------+----------------+
|         jobCategory| AverageSalaryMean|AverageSalaryMin|AverageSalaryMax|
+--------------------+------------------+----------------+----------------+
|Administration & ...|          218587.0|        218587.0|        218587.0|
|Engineering, Arch...|          198518.0|        198518.0|        198518.0|
|Engineering, Arch...|          196042.5|        182500.0|        209585.0|
|Health Policy, Re...|          128694.5|         94889.0|        162500.0|
|Engineering, Arch...|          128247.5|        128247.5|        128247.5|
|Engineering, Arch...|          128247.5|        128247.5|        128247.5|
|Communications & ...|          125000.0|        125000.0|        125000.0|
|Administration & ...|          118287.0|        118287.0|        118287.0|
|Constituent Servi...|116900.33333333333|         58500.0|        217201.0|
|Constituent Servi...|          103680.5|        103680.5|        103680.5|
+--------------------+------------------+----------------+----------------+

## Is there any correlation between the higher degree and the salary?

In [63]:
df.select("Level").distinct().orderBy(col("Level").desc()).show()

+-----+
|Level|
+-----+
|   M7|
|   M6|
|   M5|
|   M4|
|   M3|
|   M2|
|   M1|
|   4B|
|   4A|
|    4|
|    3|
|    2|
|    1|
|    0|
+-----+

In [18]:
from pyspark.sql.types import IntegerType

# assume 0 to 4 are static, 4A must be 5,4B must be 6, M1 is 7 and so on.. 
# allowing all values in level to be numerical and in order
def standardize_levels(level):
    
    level = level.strip()
    
    if level is None:
        return None
    
    elif level.startswith("M"):
        return int(level[1:]) + 6
    
    elif level == "4A":
        return 5
    elif level == "4B":
        return 6
    else:
        return int(level)
    
standardize_levels_udf = udf(standardize_levels, IntegerType())

df = df.withColumn("standardizedLevel",standardize_levels_udf(col("level")))

df.describe("standardizedLevel").show()

correlation = df.stat.corr("standardizedLevel", "AverageSalary")
print("Correlation between Level and Average Salary:", correlation)

## There is a positive correlation between the degree and the salary

+-------+-----------------+
|summary|standardizedLevel|
+-------+-----------------+
|  count|             2946|
|   mean|2.205702647657841|
| stddev|2.932479796587177|
|    min|                0|
|    max|               13|
+-------+-----------------+

Correlation between Level and Average Salary: 0.581309376958865

## Whats the job posting having the highest salary per agency?

In [65]:
df.createOrReplaceTempView("dfsql")
spark.sql("select Agency,jobId,businessTitle,AverageSalary from (\
select Agency,jobId,AverageSalary,businessTitle,row_number() over(partition by Agency order by AverageSalary desc) rnum\
    from dfsql) q where rnum=1").show(truncate=False)

+------------------------------+------+------------------------------------------------------------+-------------+
|Agency                        |jobId |businessTitle                                               |AverageSalary|
+------------------------------+------+------------------------------------------------------------+-------------+
|LANDMARKS PRESERVATION COMM   |425347|LANDMARKS PRESERVATIONIST, PRESERVATION DEPT                |60103.5      |
|OFFICE OF COLLECTIVE BARGAININ|170989|COLLEGE AIDE - CLERICAL                                     |9.555        |
|FIRE DEPARTMENT               |420216|Senior Enterprise Applications Integration Developer        |120474.5     |
|ADMIN FOR CHILDREN'S SVCS     |407253|Assistant Commissioner                                      |117474.5     |
|MANHATTAN COMMUNITY BOARD #8  |369120|Community Assistant                                         |19.0         |
|TAX COMMISSION                |423630|CITY ASSESSOR                                               |45088.5      |
|HRA/DEPT OF SOCIAL SERVICES   |424997|EXECUTIVE DIRECTOR, SERVER INFRASTRUCTURE - BUILD           |112527.5     |
|TAXI & LIMOUSINE COMMISSION   |413804|Executive Director, Technology Strategy                     |140000.0     |
|EQUAL EMPLOY PRACTICES COMM   |420065|Director of Learning and Development                        |67970.0      |
|DEPARTMENT OF BUSINESS SERV.  |97899 |EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT                    |111377.0     |
|DEPT OF DESIGN & CONSTRUCTION |416442|Associate Commissioner                                      |151795.0     |
|TEACHERS RETIREMENT SYSTEM    |420740|AGENCY ATTORNEY INTERNE                                     |69078.5      |
|DEPARTMENT OF CORRECTION      |423322|Assistant Commissioner, Internal Communications             |137500.0     |
|FINANCIAL INFO SVCS AGENCY    |424356|Windows Technical Project Manager                           |135000.0     |
|OFFICE OF EMERGENCY MANAGEMENT|417137|DISABILITY ACCESS AND FUNCTIONAL NEEDS MANAGER              |70995.0      |
|HOUSING PRESERVATION & DVLPMNT|423210|Assistant Commissioner of Community Partnerships and Finance|135000.0     |
|CIVILIAN COMPLAINT REVIEW BD  |421027|Policy and Legal                                            |115732.0     |
|OFFICE OF MANAGEMENT & BUDGET |423972|Deputy Assistant Director  SOCIAL SERVICES                  |117810.0     |
|MAYORS OFFICE OF CONTRACT SVCS|417288|ETL Developer, Enterprise Data Services                     |110000.0     |
|DEPT OF CITYWIDE ADMIN SVCS   |417281|Director, Deep Energy Retrofit Program                      |117500.0     |
+------------------------------+------+------------------------------------------------------------+-------------+
only showing top 20 rows

## Whats the job positings average salary per agency for the last 2 years?

In [88]:
df.createOrReplaceTempView("dfsql")
spark.sql("select Agency,avg(averageSalary) from dfsql \
where to_date(substr(postingDate,1,10),'yyyy-MM-dd') > date_sub(current_timestamp(),730)\
group by Agency").show(truncate=False)

## The query works if we increase the date sub days, but there is no recent data in the dataset

+------------------------------+------------------+
|Agency                        |avg(averageSalary)|
+------------------------------+------------------+
|FIRE DEPARTMENT               |54674.89          |
|ADMIN FOR CHILDREN'S SVCS     |64325.4375        |
|MANHATTAN COMMUNITY BOARD #8  |19.0              |
|TAX COMMISSION                |20456.35          |
|HRA/DEPT OF SOCIAL SERVICES   |60794.0           |
|TAXI & LIMOUSINE COMMISSION   |48438.17118333334 |
|DEPARTMENT OF BUSINESS SERV.  |62379.103955555554|
|DEPT OF DESIGN & CONSTRUCTION |77807.171875      |
|TEACHERS RETIREMENT SYSTEM    |69078.5           |
|FINANCIAL INFO SVCS AGENCY    |93994.5           |
|DEPARTMENT OF CORRECTION      |62190.938710526316|
|HOUSING PRESERVATION & DVLPMNT|84882.17857142857 |
|CIVILIAN COMPLAINT REVIEW BD  |54142.566666666666|
|OFFICE OF MANAGEMENT & BUDGET |70760.09999999999 |
|MAYORS OFFICE OF CONTRACT SVCS|87357.14285714286 |
|DEPT OF CITYWIDE ADMIN SVCS   |34120.973333333335|
|DEPARTMENT OF CITY PLANNING   |48758.75          |
|ADMIN TRIALS AND HEARINGS     |23680.396212000003|
|DEPARTMENT OF SANITATION      |27521.474         |
|DEPT. OF HOMELESS SERVICES    |36267.5           |
+------------------------------+------------------+
only showing top 20 rows

## What are the highest paid skills in the US market?

In [28]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover
from pyspark.sql.functions import col, mean

def extract_skills(df, input_col, output_col):
    tokenizer = Tokenizer(inputCol=input_col, outputCol="tokenss")
    df = tokenizer.transform(df)
    
    remover = StopWordsRemover(inputCol="tokens", outputCol=output_col)
    df = remover.transform(df)
    
    return df

df = extract_skills(df, "Minimum Qual Requirements", "min_qual_skills")

from pyspark.sql.functions import explode

df_skills = df.select("min_qual_skills", "AverageSalary").withColumn("skill", explode(col("min_qual_skills")))

highest_paid_skills = (
    df_skills.groupBy("skill")
    .agg(mean("AverageSalary").alias("average_salary"))
    .orderBy(col("average_salary").desc())
    .limit(10)
)

highest_paid_skills.show(truncate=False)

IllegalArgumentException: 'Output column tokenss already exists.'